version: "3.9"

services:

  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.api
    container_name: anb_fastapi_back
    networks:
      - backend
    expose:
      - "80"
    ports:
      - "8000:8000"
    restart: on-failure:5
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SQS_QUEUE_URL: ${SQS_QUEUE_URL}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}

    volumes:
      - ./videos/unprocessed-videos:/app/videos/unprocessed-videos
      - ./videos/processed-videos:/app/videos/processed-videos

  worker:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.worker
    container_name: anb_celery_worker
    ports:
      - "9000:9000"
    networks:
      - backend
    restart: on-failure:5
    environment:
      DATABASE_URL: ${DATABASE_URL}
      SQS_QUEUE_URL: ${SQS_QUEUE_URL}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_SESSION_TOKEN: ${AWS_SESSION_TOKEN}
      AWS_DEFAULT_REGION: ${AWS_DEFAULT_REGION}

    volumes:
      - ./videos/unprocessed-videos:/app/videos/unprocessed-videos
      - ./videos/processed-videos:/app/videos/processed-videos

networks:
  backend:
    driver: bridge
