services:
  db:
    image: postgres:17.4
    container_name: postgres_anb_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ANB
    networks:
      - backend
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:latest
    container_name: redis_anb
    networks:
      - backend
    ports:
      - "6379:6379"

networks:
  backend:
    driver: bridge

volumes:
  pg-data:
    driver: local
